---
import { Image } from "astro:assets";
const { src, alt, style, href } = Astro.props;
---

<div
  class={`w-full max-w-[300px] h-full max-h-[400px] px-4 rounded-t-md group ${style}`}
>
  <a href={href} class="block group-hover:-translate-y-5 transition-all duration-300">
    <Image
      src={src}
      alt={alt}
      class="w-full max-w-[240px] object-cover mx-auto"
    />
    <slot />
  </a>
</div>
