---
import { ArrowBackIcon } from "@icons/ArrowBack.jsx"

const { href, style } = Astro.props
---

<a href={href} class=`w-fit text-gray-600 hover:text-black flex gap-1 font-semibold ${style}`>
  <ArrowBackIcon className="size-6" />
  <slot />
</a>
