---
const { href, style } = Astro.props
---

<a
  href={href}
  class={`block w-fit rounded bg-green-600 px-12 py-2.5 my-auto font-bold text-white hover:bg-green-700 focus:outline-none focus:ring active:text-opacity-75 duration-200 ${style}`}
>
  <slot />
</a>
