---
import ButtonSecondary from "@components/buttons/ButtonSecondary.astro";
import SliderPictures from "./SliderPictures.astro";
---

<section
  class="flex max-[1349px]:flex-col-reverse flex-wrap w-full max-w-[1400px] mx-auto mt-20"
>
  <div
    class="mx-auto max-w-[70ch] px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16 z-10"
  >
    <h2 class="text-3xl font-bold sm:text-4xl">
      <span class="text-green-600">Somos expertos</span> en seguridad contra incendios
    </h2>
    <p class="mt-6 mb-4">
      Establecemos un nivel razonable de seguridad
      contra incendios y de seguridad humana y de protección de propiedades
    <strong>contra los riesgos creados por incendios, explosiones y condiciones
      peligrosas</strong>.
    </p>
    <p class="mb-6">
      Es por ello que nos especializamos en normativa contra incendios y
      contamos con la <strong>certificación de fábrica de KIDDE FIRE SYSTEMS.</strong>
    </p>
    <p class="mb-6">
      En Diprofire encontrara una amplia selección de la mejor alternativa
      de aplicaciones de seguridad, apegándonos a las normas nacionales e internacionales.
      Poseemos un <strong>equipo con amplia experiencia en el rubro</strong>, capacitados en las diferentes
      temáticas que involucra la protección contra incendios y seguridad.
    </p>

    <ButtonSecondary href="/nosotros">Conoce más de nosotros</ButtonSecondary>
  </div>
  <SliderPictures />
</section>
