---
import video from "@assets/video diprofire.mp4";
---

<section
  class="relative w-full h-screen bg-zinc-100 text-zinc-900 overflow-hidden"
>
  <div class="w-full h-screen relative overflow-hidden">
    <video
      src={video}
      muted
      autoplay
      loop
      preload="auto"
      class="w-full h-full absolute object-cover aspect-video"></video>
  </div>
  <div class="w-screen h-screen bg-black/15 absolute top-0"></div>
</section>
