---
import video from "@assets/diprofire chile.mp4";
import poster from "@assets/poster video diprofire chile.jpg";
---

<section
  class="relative w-full h-screen bg-zinc-100 text-zinc-900 overflow-hidden"
>
  <div class="w-full h-screen relative overflow-hidden">
    <video
      src={video}
      muted
      autoplay
      loop
      preload="metadata"
      poster={poster.src}
      class="w-full h-full absolute object-cover aspect-video"
    >
    </video>
  </div>
  <div class="w-screen h-screen bg-black/15 absolute top-0"></div>
</section>
