---
import MainLayout from "@layouts/MainLayout.astro";
import { CartUI } from "@components/cart/CartUI.jsx";
---

<MainLayout
	title="Carrito | Diprofire"
	description="En Diprofire encontrará una amplia selección de la mejor alternativa de aplicaciones de seguridad, apegándonos a las normas nacionales e internacionales."
>
	<main class="w-full max-w-7xl mx-auto">
		<CartUI client:only />
	</main>
</MainLayout>
