---
import MainLayout from "@layouts/MainLayout.astro";
import { CartUI } from "@components/cart/CartUI.jsx";
import { META_PAGES } from "@consts/metaPages";
---

<MainLayout
	title={META_PAGES.CART.title}
	description={META_PAGES.CART.description}
>
	<main class="w-full max-w-7xl mx-auto">
		<CartUI client:only />
	</main>
</MainLayout>
