---
import MainLayout from "@layouts/MainLayout.astro";
import { Image } from "astro:assets";
import kidde from "@assets/brands/kidde.png";
import logo3M from "@assets/brands/3M.png";
import protecto from "@assets/brands/protectowire.png";
import History from "@components/enterprise/History.astro";
import PoliticValues from "@components/enterprise/PoliticValues.astro";
import WorkWithUs from "@components/enterprise/WorkWithUs.astro";
---

<MainLayout title="Empresa | Diprofire" description="">
  <main class="pt-24">
    <section class="text-center py-10">
      <h1 class="text-3xl sm:text-5xl font-bold mb-4">Diprofire Chile Ltda.</h1>
      <p class="text-lg sm:text-xl font-medium mb-4">Representantes en Chile</p>
      <div
        class="flex flex-wrap gap-10 items-center justify-center mx-auto [&>div>img]:max-w-[120px] sm:[&>div>img]:max-w-[200px] [&>img]:object-contain [&>img]:aspect-video [&>img]:w-full"
      >
        <div>
          <Image src={kidde} alt="Logo de Kidde Fire Systems" />
        </div>
        <div>
          <Image src={logo3M} alt="Logo de 3M" />
        </div>
        <div>
          <Image src={protecto} alt="Logo de Protectowire FireSystems" />
        </div>
      </div>
    </section>
    <History />
    <PoliticValues />
    <WorkWithUs />
  </main>
</MainLayout>
