---
import { CheckIcon } from "@icons/Check.jsx";
---

<section
  class="bg-zinc-200 bg-section-clip py-52 sm:py-32 px-4 sm:px-10"
>
  <div class="flex flex-wrap sm:justify-between gap-10 max-w-[1320px] mx-auto">
    <div class="max-w-[60ch] w-fit">
      <h2 class="text-2xl sm:text-4xl font-bold mb-8">Nuestra Historia</h2>
      <p class="mb-2 max-w-[80ch]">
        Nacemos en la ciudad de Antofagasta en el año 2014 iniciando nuestras
        actividades en sistemas de protección contra incendios incorporando los
        servicios de venta, diseño, elaboración, producción, instalación y
        mantención de sistemas de detección y extinción automáticos de
        incendios.
      </p>
      <p class="max-w-[60ch]">
        En Diprofire encontrara una amplia selección de la mejor alternativa de
        aplicaciones de seguridad, apegándonos a las normas nacionales e
        internacionales. Poseemos un equipo con amplia experiencia en el rubro,
        capacitados en las diferentes temáticas que involucra la protección
        contra incendios y seguridad.
      </p>
    </div>
    <div class="max-w-[60ch] w-fit">
      <h3
        class="text-xl sm:text-2xl font-semibold flex gap-1 items-center mb-2"
      >
        <CheckIcon className="text-green-600" />
        Misión
      </h3>
      <i>
        “Somos una empresa dedicada a la venta, instalación y mantención de
        sistema contra incendios, brindando seguridad a nuestros clientes de la
        gran minería e industria, trabajando con altos estándares de calidad
        presentes en las normas nacionales e internacionales”.
      </i>
      <h4
        class="text-xl sm:text-2xl font-semibold flex gap-1 items-center mt-6 mb-2"
      >
        <CheckIcon className="text-green-600" />
        Visión
      </h4>
      <i>
        “Ser la compañía líder a nivel nacional en temas de seguridad contra
        incendios, entregando una solución rápida y a la medida de nuestros
        clientes mediante una gestión eficiente de recursos y un personal
        altamente capacitado”.
      </i>
    </div>
  </div>
</section>
