---
import MainPageLayout from "@layouts/MainLayout.astro";
const { frontmatter } = Astro.props;
---

<MainPageLayout
  title={frontmatter.title + " | Proyectos Diprofire"}
  description="Nuestros proyectos de protección contra incendios en la industria, comercio y vivienda."
>
  <div class="flex gap-10">
    <main class="px-4 sm:px-10 pt-28 pb-10 w-full mx-auto max-w-[900px] z-10">
      <img src={frontmatter.image.url} alt={frontmatter.image.alt} class="w-full max-w-[900px] object-cover object-center mb-10 rounded-lg" />
      <h1 class="text-3xl font-bold mb-4">
        { frontmatter.title }
      </h1>
      <p class="mb-4">
        { frontmatter.description }
      </p>
      <slot />
    </main>
  </div>
</MainPageLayout>

<style>
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
  }
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  p img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
  }
</style>